.mainnav ul{
    display: flex;
    justify-content: center;
}
  
.mainnav ul li{
    margin: 0 23px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}

.blogItem{
    margin: 5px 0px;
}

.blogItem h3{
    cursor: pointer;
}

.imageWrap{
    padding: 20px;
}

.homeBlog{
    width: 148px;
    border-radius: 67px;
}

.imagep{
    max-width: 45vw;
    margin: auto;
}

.h3{
    font-size: 1rem;
}

.h2{
    margin-bottom:0px;
}

.btn{
    background: black;
    color: white;
    padding: 5px 5px;
    font-size: 10px;
    border-radius: 8px;
    cursor: pointer;
}